.main-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;

}

.tagline {
    text-align: center;
    font-size: 7rem;
    font-weight: 900;
}

.gradient-text {
    background: linear-gradient(to right, #eb529f, #f9ac3a);
    background-size: 200% 200%;
	animation: amnongus 10s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: amongus;
    animation-duration: 10s;
}

.below-tagline {
    font-size: 25px;
    width: 50%;
    text-align: center;
    color: #626b84;
}

/* make a scrolling down button arrow animation */
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-down2{
    width: 50px;
    height: 80px;
    border: 2px solid #eb529f;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0 auto; 

    &:before{
        content: "";
        position: absolute;
        left: 50%;
        top: 20px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        transform: translateX(-50%);
        background: #eb529f;
        animation: scrollDown2 1.5s ease infinite;
    }
    &:after{
        content: "";
        position: absolute;
        left: 50%;
        top: 15px;
        width: 9px;
        height: 17px;
        border-radius: 3px;
        transform: translateX(-50%);
        background: #eb529f;
    }
}

@keyframes scrollDown2{
    0%{
        transform: translate(-50%, 15px);
        opacity: 0;
    }
    50%{
        transform: translate(-50%, 20px);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, 25px);
        opacity: 0;
    }
}

.main-body {
    margin-top: 22rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #e0e3e7;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    font-size: 25px;
    align-items: center;

    .title {
        font-size: 40px;
        text-align: left;
        color: #293044;
    }

    .text-cell {
        margin-left: 5%;
        margin-right: 5%;
    }

    .image-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(3px 2px 2px #29304440);
    }

    .reversed {
        text-align: right;
    }
}

.cell-image {
    width: 40rem;
}

@keyframes amongus {
	0% {
		background-position: 25% 0%;
	}
	33% {
		background-position: 25% 0%;
	}
	66% {
		background-position: 75% 0%;
	}
    100% {
		background-position: 25% 0%;
	}

}

.bottom-section {
    background: #4A5982;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-align: center;
}

.sign-up-b {
    cursor: pointer;
    background-color: #e9a42d;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    font-weight: 600;
    width: 220px;
    text-align: center;
    font-size: 25px;
}

/* Animations of logos */
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes zoomInOut{

	0%,100%{
		transform: scale(0.5);
	}
	50%{
		transform: scale(1);
	}
}
@keyframes bounce{
	0%,100%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-20px);
	}
}

/* square-to-circle */
@keyframes squareToCircle {
	0%  {     
		border-radius:50%;       
		transform:rotate(0deg);   
	  }   
	  25%  {     
		border-radius:50% 0 0 0;     
		transform:rotate(45deg);   
	  }   
	  50%  {     
		border-radius:0 50% 0 0;     
		transform:rotate(90deg);   
	  }   
	  75%  {      
		border-radius:0 0 50% 0;        
		transform:rotate(135deg);   
	  }   
	  100% {       
		 border-radius:50%;         
		 transform:rotate(180deg);   
	  } 
}

/* spin */
@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
/* Circles */
.bg-circles{
	position: fixed;
	top: 0;
	height: 100%;
	max-width: 1200px;
	width: calc(100% - 30px);
	left: 50%;
	transform: translateX(-50%);
    opacity: 0.5;
    filter: blur(2px);
    background-color: #e2e8f0;
	z-index: -1;
}
.bg-circles div{
	position: absolute;
	border-radius: 50%;
}
.bg-circles .circle-1{
	height: 60px;
	width: 60px;
	/* background-color: var(--blue); */
	left: 5%;
	top: 15%;
	opacity: 1;
	animation: bounce 4s linear infinite;
}
.bg-circles .circle-2{
	height:90px;
	width:90px;
	/* background-color: var(--main-color); */
	border: 4px solid var(--main-color);
	opacity: 0.4;
	left: 40%;
	top:70%;
	animation: squareToCircle 5s ease-in-out infinite;
}
.bg-circles .circle-3{
	height: 80px;
	width: 80px;
	/* background-color: var(--white); */
	top: 15%;
	right: -35px;
	opacity: 0.7;
	animation: bounce 6s linear infinite;
}

.bg-circles .circle-4{
	height: 50px;
	width: 50px;
	/* background-color: #ffc65c; */
	top: 75%;
	left: -25px;
	opacity: 1;
	animation: bounce 6s linear infinite;
}
.bg-circles .effect-1{
	width: 40px;
	height: 40px;
	/* border: 4px solid #8a49ff; */
	right: -25px;
	bottom: 25%;
	font-size: 55px;
	animation: bounce 6s ease-in-out infinite;
	/* border-radius: 12px; */
}



/* background graphics css */

.background__graphics{
    position: fixed;
    width: 80%;
    height: 100%;
    top: 6%;
    right: 10%;
    filter: blur(24px);
    z-index: -1;
}


